# Mini Exercises

### 1. Spark Dataframe Basics

- Use the starter code above to create a pandas dataframe.
- Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.
- Show the first 3 rows of the dataframe.
- Show the first 7 rows of the dataframe.
- View a summary of the data using .describe.
- Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.
- Use .select to create a new dataframe with just the group and abool columns. View the first 5 rows of this dataframe.
- Use .select to create a new dataframe with the group column and the abool column renamed to a_boolean_value. Show the first 3 rows of this dataframe.
- Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. Show the first 6 rows of this dataframe.

#### Use the starter code above to create a pandas dataframe.

In [1]:
import pandas as pd
import numpy as np
import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate()
np.random.seed(13)

pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

In [2]:
pandas_dataframe

           n group  abool
0  -0.712391     z  False
1   0.753766     x  False
2  -0.044503     z  False
3   0.451812     y  False
4   1.345102     z  False
5   0.532338     y  False
6   1.350188     z  False
7   0.861211     x  False
8   1.478686     z   True
9  -1.045377     y   True
10 -0.788989     x  False
11 -1.261606     y  False
12  0.562847     y   True
13 -0.243326     y   True
14  0.913741     y  False
15  0.317351     x  False
16  0.127303     z  False
17  2.150383     y   True
18  0.606289     x  False
19 -0.026772     x   True

#### Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.

In [3]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

#### Show the first 3 rows of the dataframe.

In [4]:
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

#### Show the first 7 rows of the dataframe.

In [5]:
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

#### View a summary of the data using .describe.

In [7]:
df.describe().show()

+-------+------------------+-----+
|summary|                 n|group|
+-------+------------------+-----+
|  count|                20|   20|
|   mean|0.3664026449885217| null|
| stddev|0.8905322898155363| null|
|    min|-1.261605945319069|    x|
|    max|2.1503829673811126|    z|
+-------+------------------+-----+

#### Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.

In [8]:
df.select(df.n, df.abool).show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

#### Use .select to create a new dataframe with just the group and abool columns. View the first 5 rows of this dataframe.

In [9]:
df.select(df.group, df.abool).show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

#### Use .select to create a new dataframe with the group column and the abool column renamed to a_boolean_value. Show the first 3 rows of this dataframe.

In [11]:

df.select('group', df.abool.alias('a_boolean_value')).show(3)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
+-----+---------------+
only showing top 3 rows

#### Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. Show the first 6 rows of this dataframe.

In [12]:
df.select('group', df.n.alias('a_numeric_value')).show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

### Column Manipulation

- Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a varaible named df

- Use .select to add 4 to the n column. Show the results.

- Subtract 5 from the n column and view the results.

- Multiply the n column by 2. View the results along with the original numbers.

- Add a new column named n2 that is the n value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original n value as well as n2.

- Add a new column named n3 that is the n value squared. Show the first 5 rows of your dataframe. You should see both n, n2, and n3.

- What happens when you run the code below?
    - df.group + df.abool
- What happens when you run the code below? What is the difference between this and the previous code sample?
    - df.select(df.group + df.abool)
- Try adding various other columns together. What are the results of combining the different data types?

#### Use .select to add 4 to the n column. Show the results.

In [13]:
df.select(df.n + 4).show()

+------------------+
|           (n + 4)|
+------------------+
|3.2876093379494122|
| 4.753766378659703|
|3.9554969216619464|
|  4.45181233874579|
|5.3451017084510095|
| 4.532337888294546|
| 5.350187899722527|
|  4.86121137416932|
| 5.478685737435897|
| 2.954622869461466|
|3.2110109750484512|
| 2.738394054680931|
| 4.562846785281032|
|3.7566737481144377|
| 4.913740704859677|
| 4.317350922736336|
| 4.127303280206981|
| 6.150382967381113|
| 4.606288656896298|
|3.9732283500135592|
+------------------+

#### Use .select to add 4 to the n column. Show the results.

In [14]:
df.select('n', df.n - 5).show()

+--------------------+-------------------+
|                   n|            (n - 5)|
+--------------------+-------------------+
|  -0.712390662050588| -5.712390662050588|
|   0.753766378659703| -4.246233621340297|
|-0.04450307833805...| -5.044503078338053|
| 0.45181233874578974|  -4.54818766125421|
|  1.3451017084510097|-3.6548982915489905|
|  0.5323378882945463| -4.467662111705454|
|  1.3501878997225267|-3.6498121002774733|
|  0.8612113741693206|  -4.13878862583068|
|  1.4786857374358966| -3.521314262564103|
| -1.0453771305385342| -6.045377130538534|
| -0.7889890249515489| -5.788989024951549|
|  -1.261605945319069| -6.261605945319069|
|  0.5628467852810314| -4.437153214718968|
|-0.24332625188556253| -5.243326251885563|
|  0.9137407048596775| -4.086259295140323|
| 0.31735092273633597| -4.682649077263664|
| 0.12730328020698067| -4.872696719793019|
|  2.1503829673811126|-2.8496170326188874|
|  0.6062886568962988| -4.393711343103702|
|-0.02677164998644...| -5.026771649986441|
+--------------------+-------------------+

#### Multiply the n column by 2. View the results along with the original numbers.

In [15]:
df.select('n', df.n * 5).show()

+--------------------+--------------------+
|                   n|             (n * 5)|
+--------------------+--------------------+
|  -0.712390662050588| -3.5619533102529397|
|   0.753766378659703|  3.7688318932985148|
|-0.04450307833805...|-0.22251539169026727|
| 0.45181233874578974|   2.259061693728949|
|  1.3451017084510097|  6.7255085422550485|
|  0.5323378882945463|  2.6616894414727317|
|  1.3501878997225267|   6.750939498612634|
|  0.8612113741693206|   4.306056870846603|
|  1.4786857374358966|   7.393428687179483|
| -1.0453771305385342|  -5.226885652692671|
| -0.7889890249515489| -3.9449451247577443|
|  -1.261605945319069|  -6.308029726595345|
|  0.5628467852810314|   2.814233926405157|
|-0.24332625188556253| -1.2166312594278126|
|  0.9137407048596775|   4.568703524298387|
| 0.31735092273633597|    1.58675461368168|
| 0.12730328020698067|  0.6365164010349034|
|  2.1503829673811126|  10.751914836905563|
|  0.6062886568962988|  3.0314432844814942|
|-0.02677164998644...|-0.13385824993220363|
+--------------------+--------------------+

#### Add a new column named n2 that is the n value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original n value as well as n2.

In [17]:
n2 = (df.n * -1).alias('n2')
df.select('*').show(4)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
+--------------------+-----+-----+
only showing top 4 rows

#### Add a new column named n3 that is the n value squared. Show the first 5 rows of your dataframe. You should see both n, n2, and n3.

In [19]:
n3 = (df.n ** 2).alias('n3')
df = df.select('*', n3)
df.show(5)

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n3|
+--------------------+-----+-----+--------------------+
|  -0.712390662050588|    z|false|   0.507500455376875|
|   0.753766378659703|    x|false|  0.5681637535977627|
|-0.04450307833805...|    z|false|0.001980523981562...|
| 0.45181233874578974|    y|false| 0.20413438944294027|
|  1.3451017084510097|    z|false|  1.8092986060778251|
+--------------------+-----+-----+--------------------+
only showing top 5 rows

#### What happens when you run the code below?

df.group + df.abool

In [20]:
#add string to boolean
#we dont see an error until spark actually tries to evaluate a code
df.group + df.abool

Column<'(group + abool)'>

#### What happens when you run the code below? What is the difference between this and the previous code sample?
df.select(df.group + df.abool)

In [21]:
df.select(df.group + df.abool)

AnalysisException: cannot resolve '(CAST(`group` AS DOUBLE) + `abool`)' due to data type mismatch: differing types in '(CAST(`group` AS DOUBLE) + `abool`)' (double and boolean).;
'Project [(cast(group#1 as double) + abool#2) AS (group + abool)#370]
+- Project [n#0, group#1, abool#2, POWER(n#0, cast(2 as double)) AS n3#348]
   +- LogicalRDD [n#0, group#1, abool#2], false

#### Try adding various other columns together. What are the results of combining the different data types?

In [ ]:
# can add numbers
# adding other things gives errors

### Type Casting
- Use the starter code above to re-create a spark dataframe.

- Use .printSchema to view the datatypes in your dataframe.

- Use .dtypes to view the datatypes in your dataframe.

- What is the difference between the two code samples below?
    - df.abool.cast('int') 
    - df.select(df.abool.cast('int')).show()
- Use .select and .cast to convert the abool column to an integer type. View the results.

- Convert the group column to a integer data type and view the results. What happens?

- Convert the n column to a integer data type and view the results. What happens?

- Convert the abool column to a string data type and view the results. What happens?

#### Use .printSchema to view the datatypes in your dataframe.

In [22]:
df.printSchema()

root
 |-- n: double (nullable = true)
 |-- group: string (nullable = true)
 |-- abool: boolean (nullable = true)
 |-- n3: double (nullable = true)

#### Use .dtypes to view the datatypes in your dataframe.

In [23]:
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean'), ('n3', 'double')]

#### What is the difference between the two code samples below?
- df.abool.cast('int')
- df.select(df.abool.cast('int')).show()

- The first example is casting abool to int and the second example is displaying the cast

In [24]:
df.abool.cast('int')

Column<'CAST(abool AS INT)'>

In [25]:
df.select(df.abool.cast('int')).show()

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

#### Use .select and .cast to convert the abool column to an integer type. View the results.

In [26]:
df.select(df.abool.cast('int')).show()

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

#### Convert the group column to a integer data type and view the results. What happens?

- Null values displayed

In [27]:
df.select(df.group.cast('int')).show()

+-----+
|group|
+-----+
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
+-----+

#### Convert the n column to a integer data type and view the results. What happens?

- 0, 1, -1

In [28]:
df.select(df.n.cast('int')).show()

+---+
|  n|
+---+
|  0|
|  0|
|  0|
|  0|
|  1|
|  0|
|  1|
|  0|
|  1|
| -1|
|  0|
| -1|
|  0|
|  0|
|  0|
|  0|
|  0|
|  2|
|  0|
|  0|
+---+

#### Convert the abool column to a string data type and view the results. What happens?

- true/false

In [29]:
df.select(df.abool.cast('string')).show()

+-----+
|abool|
+-----+
|false|
|false|
|false|
|false|
|false|
|false|
|false|
|false|
| true|
| true|
|false|
|false|
| true|
| true|
|false|
|false|
|false|
| true|
|false|
| true|
+-----+

### Built-in Functions

- Use the starter code above to re-create a spark dataframe.
- Import the necessary functions from pyspark.sql.functions
- Find the highest n value.
- Find the lowest n value.
- Find the average n value.
- Use concat to change the group column to say, e.g. "Group: x" or "Group: y"
- Use concat to combine the n and group columns to produce results that look like this: "x: -1.432" or "z: 2.352"

#### Import the necessary functions from pyspark.sql.functions

In [58]:
# Note: The pyspark avg and mean functions are aliases of eachother
from pyspark.sql.functions import concat, sum, avg, min, max, count, mean, lit

#### Find the highest n value.

In [32]:
df.select(
max(df.n)).show()

+------------------+
|            max(n)|
+------------------+
|2.1503829673811126|
+------------------+

#### Find the lowest n value.

In [33]:
df.select(
min(df.n)).show()

+------------------+
|            min(n)|
+------------------+
|-1.261605945319069|
+------------------+

#### Find the average n value.

In [34]:
df.select(
avg(df.n)).show()

+------------------+
|            avg(n)|
+------------------+
|0.3664026449885217|
+------------------+

#### Use concat to change the group column to say, e.g. "Group: x" or "Group: y"

In [59]:
df.select('group', concat(lit('Group: '), 'group')).show()

+-----+----------------------+
|group|concat(Group: , group)|
+-----+----------------------+
|    z|              Group: z|
|    x|              Group: x|
|    z|              Group: z|
|    y|              Group: y|
|    z|              Group: z|
|    y|              Group: y|
|    z|              Group: z|
|    x|              Group: x|
|    z|              Group: z|
|    y|              Group: y|
|    x|              Group: x|
|    y|              Group: y|
|    y|              Group: y|
|    y|              Group: y|
|    y|              Group: y|
|    x|              Group: x|
|    z|              Group: z|
|    y|              Group: y|
|    x|              Group: x|
|    x|              Group: x|
+-----+----------------------+

#### Use concat to combine the n and group columns to produce results that look like this: "x: -1.432" or "z: 2.352"

In [60]:
df.select('group', concat(lit('Group: '), 'group')).show()

+-----+----------------------+
|group|concat(Group: , group)|
+-----+----------------------+
|    z|              Group: z|
|    x|              Group: x|
|    z|              Group: z|
|    y|              Group: y|
|    z|              Group: z|
|    y|              Group: y|
|    z|              Group: z|
|    x|              Group: x|
|    z|              Group: z|
|    y|              Group: y|
|    x|              Group: x|
|    y|              Group: y|
|    y|              Group: y|
|    y|              Group: y|
|    y|              Group: y|
|    x|              Group: x|
|    z|              Group: z|
|    y|              Group: y|
|    x|              Group: x|
|    x|              Group: x|
+-----+----------------------+

### 5. When/Otherwise

- Use the starter code above to re-create a spark dataframe.
- Use when and .otherwise to create a column that contains the text "It is true" when abool is true and "It is false"" when abool is false.
- Create a column that contains 0 if n is less than 0, otherwise, the original n value.

#### Use when and .otherwise to create a column that contains the text "It is true" when abool is true and "It is false"" when abool is false.

In [37]:
from pyspark.sql.functions import when

In [41]:
df.select(df.abool, when(df.abool == 'True', 'It is true').otherwise('It is false').alias('true/false')).show()

+-----+-----------+
|abool| true/false|
+-----+-----------+
|false|It is false|
|false|It is false|
|false|It is false|
|false|It is false|
|false|It is false|
|false|It is false|
|false|It is false|
|false|It is false|
| true| It is true|
| true| It is true|
|false|It is false|
|false|It is false|
| true| It is true|
| true| It is true|
|false|It is false|
|false|It is false|
|false|It is false|
| true| It is true|
|false|It is false|
| true| It is true|
+-----+-----------+

#### Create a column that contains 0 if n is less than 0, otherwise, the original n value.

In [42]:
df.select(df.n, when(df.n < 0, '0')
          .otherwise(df.n).alias('new n')).show()

+--------------------+-------------------+
|                   n|              new n|
+--------------------+-------------------+
|  -0.712390662050588|                  0|
|   0.753766378659703|  0.753766378659703|
|-0.04450307833805...|                  0|
| 0.45181233874578974|0.45181233874578974|
|  1.3451017084510097| 1.3451017084510097|
|  0.5323378882945463| 0.5323378882945463|
|  1.3501878997225267| 1.3501878997225267|
|  0.8612113741693206| 0.8612113741693206|
|  1.4786857374358966| 1.4786857374358966|
| -1.0453771305385342|                  0|
| -0.7889890249515489|                  0|
|  -1.261605945319069|                  0|
|  0.5628467852810314| 0.5628467852810314|
|-0.24332625188556253|                  0|
|  0.9137407048596775| 0.9137407048596775|
| 0.31735092273633597|0.31735092273633597|
| 0.12730328020698067|0.12730328020698067|
|  2.1503829673811126| 2.1503829673811126|
|  0.6062886568962988| 0.6062886568962988|
|-0.02677164998644...|                  0|
+--------------------+-------------------+

### 6. Filter/Where

- Use the starter code above to re-create a spark dataframe.
- Use .filter or .where to select just the rows where the group is y and view the results.
- Select just the columns where the abool column is false and view the results.
- Find the columns where the group column is not y.
- Find the columns where n is positive.
- Find the columns where abool is true and the group column is z.
- Find the columns where abool is true or the group column is z.
- Find the columns where abool is false and n is less than 1
- Find the columns where abool is false or n is less than 1

#### Use .filter or .where to select just the rows where the group is y and view the results.

In [43]:
df.where(df.group == 'y').show()

+--------------------+-----+-----+-------------------+
|                   n|group|abool|                 n3|
+--------------------+-----+-----+-------------------+
| 0.45181233874578974|    y|false|0.20413438944294027|
|  0.5323378882945463|    y|false| 0.2833836273138969|
| -1.0453771305385342|    y| true| 1.0928133450529796|
|  -1.261605945319069|    y|false|  1.591649561264422|
|  0.5628467852810314|    y| true|0.31679650370119145|
|-0.24332625188556253|    y| true|0.05920766485667622|
|  0.9137407048596775|    y|false| 0.8349220757174602|
|  2.1503829673811126|    y| true|  4.624146906402799|
+--------------------+-----+-----+-------------------+

#### Select just the columns where the abool column is false and view the results.

In [45]:
df.where(df.abool == 'false').show()

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n3|
+--------------------+-----+-----+--------------------+
|  -0.712390662050588|    z|false|   0.507500455376875|
|   0.753766378659703|    x|false|  0.5681637535977627|
|-0.04450307833805...|    z|false|0.001980523981562...|
| 0.45181233874578974|    y|false| 0.20413438944294027|
|  1.3451017084510097|    z|false|  1.8092986060778251|
|  0.5323378882945463|    y|false|  0.2833836273138969|
|  1.3501878997225267|    z|false|  1.8230073645571279|
|  0.8612113741693206|    x|false|  0.7416850309986095|
| -0.7889890249515489|    x|false|  0.6225036814939958|
|  -1.261605945319069|    y|false|   1.591649561264422|
|  0.9137407048596775|    y|false|  0.8349220757174602|
| 0.31735092273633597|    x|false| 0.10071160816160388|
| 0.12730328020698067|    z|false|0.016206125151457036|
|  0.6062886568962988|    x|false|   0.367585935481118|
+--------------------+-----+-----+--------------------+

#### Find the columns where the group column is not y.

In [46]:
df.where(df.group != 'y').show()

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n3|
+--------------------+-----+-----+--------------------+
|  -0.712390662050588|    z|false|   0.507500455376875|
|   0.753766378659703|    x|false|  0.5681637535977627|
|-0.04450307833805...|    z|false|0.001980523981562...|
|  1.3451017084510097|    z|false|  1.8092986060778251|
|  1.3501878997225267|    z|false|  1.8230073645571279|
|  0.8612113741693206|    x|false|  0.7416850309986095|
|  1.4786857374358966|    z| true|  2.1865115100963415|
| -0.7889890249515489|    x|false|  0.6225036814939958|
| 0.31735092273633597|    x|false| 0.10071160816160388|
| 0.12730328020698067|    z|false|0.016206125151457036|
|  0.6062886568962988|    x|false|   0.367585935481118|
|-0.02677164998644...|    x| true|7.167212429964917E-4|
+--------------------+-----+-----+--------------------+

#### Find the columns where n is positive.

In [47]:
df.where(df.n > 0).show()

+-------------------+-----+-----+--------------------+
|                  n|group|abool|                  n3|
+-------------------+-----+-----+--------------------+
|  0.753766378659703|    x|false|  0.5681637535977627|
|0.45181233874578974|    y|false| 0.20413438944294027|
| 1.3451017084510097|    z|false|  1.8092986060778251|
| 0.5323378882945463|    y|false|  0.2833836273138969|
| 1.3501878997225267|    z|false|  1.8230073645571279|
| 0.8612113741693206|    x|false|  0.7416850309986095|
| 1.4786857374358966|    z| true|  2.1865115100963415|
| 0.5628467852810314|    y| true| 0.31679650370119145|
| 0.9137407048596775|    y|false|  0.8349220757174602|
|0.31735092273633597|    x|false| 0.10071160816160388|
|0.12730328020698067|    z|false|0.016206125151457036|
| 2.1503829673811126|    y| true|   4.624146906402799|
| 0.6062886568962988|    x|false|   0.367585935481118|
+-------------------+-----+-----+--------------------+

#### Find the columns where abool is true and the group column is z.

In [48]:
df.where(df.abool == 'true').where(df.group == 'z').show()

+------------------+-----+-----+------------------+
|                 n|group|abool|                n3|
+------------------+-----+-----+------------------+
|1.4786857374358966|    z| true|2.1865115100963415|
+------------------+-----+-----+------------------+

#### Find the columns where abool is true or the group column is z.

In [49]:
df.filter((df.abool == 'true')|(df.group == 'z')).show()

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n3|
+--------------------+-----+-----+--------------------+
|  -0.712390662050588|    z|false|   0.507500455376875|
|-0.04450307833805...|    z|false|0.001980523981562...|
|  1.3451017084510097|    z|false|  1.8092986060778251|
|  1.3501878997225267|    z|false|  1.8230073645571279|
|  1.4786857374358966|    z| true|  2.1865115100963415|
| -1.0453771305385342|    y| true|  1.0928133450529796|
|  0.5628467852810314|    y| true| 0.31679650370119145|
|-0.24332625188556253|    y| true| 0.05920766485667622|
| 0.12730328020698067|    z|false|0.016206125151457036|
|  2.1503829673811126|    y| true|   4.624146906402799|
|-0.02677164998644...|    x| true|7.167212429964917E-4|
+--------------------+-----+-----+--------------------+

#### Find the columns where abool is false and n is less than 1

In [50]:
df.where(df.abool == 'false').where(df.n < 1).show()

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n3|
+--------------------+-----+-----+--------------------+
|  -0.712390662050588|    z|false|   0.507500455376875|
|   0.753766378659703|    x|false|  0.5681637535977627|
|-0.04450307833805...|    z|false|0.001980523981562...|
| 0.45181233874578974|    y|false| 0.20413438944294027|
|  0.5323378882945463|    y|false|  0.2833836273138969|
|  0.8612113741693206|    x|false|  0.7416850309986095|
| -0.7889890249515489|    x|false|  0.6225036814939958|
|  -1.261605945319069|    y|false|   1.591649561264422|
|  0.9137407048596775|    y|false|  0.8349220757174602|
| 0.31735092273633597|    x|false| 0.10071160816160388|
| 0.12730328020698067|    z|false|0.016206125151457036|
|  0.6062886568962988|    x|false|   0.367585935481118|
+--------------------+-----+-----+--------------------+

#### Find the columns where abool is false or n is less than 1

In [51]:
df.filter((df.abool == 'false')|(df.n < 1)).show()

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n3|
+--------------------+-----+-----+--------------------+
|  -0.712390662050588|    z|false|   0.507500455376875|
|   0.753766378659703|    x|false|  0.5681637535977627|
|-0.04450307833805...|    z|false|0.001980523981562...|
| 0.45181233874578974|    y|false| 0.20413438944294027|
|  1.3451017084510097|    z|false|  1.8092986060778251|
|  0.5323378882945463|    y|false|  0.2833836273138969|
|  1.3501878997225267|    z|false|  1.8230073645571279|
|  0.8612113741693206|    x|false|  0.7416850309986095|
| -1.0453771305385342|    y| true|  1.0928133450529796|
| -0.7889890249515489|    x|false|  0.6225036814939958|
|  -1.261605945319069|    y|false|   1.591649561264422|
|  0.5628467852810314|    y| true| 0.31679650370119145|
|-0.24332625188556253|    y| true| 0.05920766485667622|
|  0.9137407048596775|    y|false|  0.8349220757174602|
| 0.31735092273633597|    x|false| 0.10071160816160388|
| 0.12730328020698067|    z|false|0.016206125151457036|
|  0.6062886568962988|    x|false|   0.367585935481118|
|-0.02677164998644...|    x| true|7.167212429964917E-4|
+--------------------+-----+-----+--------------------+

### 7. Sorting
- Use the starter code above to re-create a spark dataframe.
- Sort by the n value.
- Sort by the group value, both ascending and descending.
- Sort by the group value first, then, within each group, sort by n value.
- Sort by abool, group, and n. Does it matter in what order you specify the columns when sorting?

#### Sort by the n value.

In [52]:
df.sort(df.n).show()

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n3|
+--------------------+-----+-----+--------------------+
|  -1.261605945319069|    y|false|   1.591649561264422|
| -1.0453771305385342|    y| true|  1.0928133450529796|
| -0.7889890249515489|    x|false|  0.6225036814939958|
|  -0.712390662050588|    z|false|   0.507500455376875|
|-0.24332625188556253|    y| true| 0.05920766485667622|
|-0.04450307833805...|    z|false|0.001980523981562...|
|-0.02677164998644...|    x| true|7.167212429964917E-4|
| 0.12730328020698067|    z|false|0.016206125151457036|
| 0.31735092273633597|    x|false| 0.10071160816160388|
| 0.45181233874578974|    y|false| 0.20413438944294027|
|  0.5323378882945463|    y|false|  0.2833836273138969|
|  0.5628467852810314|    y| true| 0.31679650370119145|
|  0.6062886568962988|    x|false|   0.367585935481118|
|   0.753766378659703|    x|false|  0.5681637535977627|
|  0.8612113741693206|    x|false|  0.7416850309986095|
|  0.9137407048596775|    y|false|  0.8349220757174602|
|  1.3451017084510097|    z|false|  1.8092986060778251|
|  1.3501878997225267|    z|false|  1.8230073645571279|
|  1.4786857374358966|    z| true|  2.1865115100963415|
|  2.1503829673811126|    y| true|   4.624146906402799|
+--------------------+-----+-----+--------------------+

#### Sort by the group value, both ascending and descending.

In [53]:
from pyspark.sql.functions import asc, desc

In [55]:
df.sort(desc('group')).show()

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n3|
+--------------------+-----+-----+--------------------+
|  1.3451017084510097|    z|false|  1.8092986060778251|
|  1.3501878997225267|    z|false|  1.8230073645571279|
|  -0.712390662050588|    z|false|   0.507500455376875|
|  1.4786857374358966|    z| true|  2.1865115100963415|
| 0.12730328020698067|    z|false|0.016206125151457036|
|-0.04450307833805...|    z|false|0.001980523981562...|
|  -1.261605945319069|    y|false|   1.591649561264422|
|  0.5628467852810314|    y| true| 0.31679650370119145|
| -1.0453771305385342|    y| true|  1.0928133450529796|
|  0.5323378882945463|    y|false|  0.2833836273138969|
|-0.24332625188556253|    y| true| 0.05920766485667622|
|  0.9137407048596775|    y|false|  0.8349220757174602|
|  2.1503829673811126|    y| true|   4.624146906402799|
| 0.45181233874578974|    y|false| 0.20413438944294027|
| -0.7889890249515489|    x|false|  0.6225036814939958|
|   0.753766378659703|    x|false|  0.5681637535977627|
|  0.8612113741693206|    x|false|  0.7416850309986095|
|-0.02677164998644...|    x| true|7.167212429964917E-4|
| 0.31735092273633597|    x|false| 0.10071160816160388|
|  0.6062886568962988|    x|false|   0.367585935481118|
+--------------------+-----+-----+--------------------+

In [56]:
df.sort(asc('group')).show()

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n3|
+--------------------+-----+-----+--------------------+
|-0.02677164998644...|    x| true|7.167212429964917E-4|
| -0.7889890249515489|    x|false|  0.6225036814939958|
|  0.8612113741693206|    x|false|  0.7416850309986095|
| 0.31735092273633597|    x|false| 0.10071160816160388|
|  0.6062886568962988|    x|false|   0.367585935481118|
|   0.753766378659703|    x|false|  0.5681637535977627|
|  0.5323378882945463|    y|false|  0.2833836273138969|
| 0.45181233874578974|    y|false| 0.20413438944294027|
|  2.1503829673811126|    y| true|   4.624146906402799|
|  -1.261605945319069|    y|false|   1.591649561264422|
|  0.5628467852810314|    y| true| 0.31679650370119145|
|-0.24332625188556253|    y| true| 0.05920766485667622|
| -1.0453771305385342|    y| true|  1.0928133450529796|
|  0.9137407048596775|    y|false|  0.8349220757174602|
|  1.3501878997225267|    z|false|  1.8230073645571279|
|  1.4786857374358966|    z| true|  2.1865115100963415|
| 0.12730328020698067|    z|false|0.016206125151457036|
|  -0.712390662050588|    z|false|   0.507500455376875|
|  1.3451017084510097|    z|false|  1.8092986060778251|
|-0.04450307833805...|    z|false|0.001980523981562...|
+--------------------+-----+-----+--------------------+

#### Sort by the group value first, then, within each group, sort by n value.

In [61]:
df.sort(df.group, df.n).show()

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n3|
+--------------------+-----+-----+--------------------+
| -0.7889890249515489|    x|false|  0.6225036814939958|
|-0.02677164998644...|    x| true|7.167212429964917E-4|
| 0.31735092273633597|    x|false| 0.10071160816160388|
|  0.6062886568962988|    x|false|   0.367585935481118|
|   0.753766378659703|    x|false|  0.5681637535977627|
|  0.8612113741693206|    x|false|  0.7416850309986095|
|  -1.261605945319069|    y|false|   1.591649561264422|
| -1.0453771305385342|    y| true|  1.0928133450529796|
|-0.24332625188556253|    y| true| 0.05920766485667622|
| 0.45181233874578974|    y|false| 0.20413438944294027|
|  0.5323378882945463|    y|false|  0.2833836273138969|
|  0.5628467852810314|    y| true| 0.31679650370119145|
|  0.9137407048596775|    y|false|  0.8349220757174602|
|  2.1503829673811126|    y| true|   4.624146906402799|
|  -0.712390662050588|    z|false|   0.507500455376875|
|-0.04450307833805...|    z|false|0.001980523981562...|
| 0.12730328020698067|    z|false|0.016206125151457036|
|  1.3451017084510097|    z|false|  1.8092986060778251|
|  1.3501878997225267|    z|false|  1.8230073645571279|
|  1.4786857374358966|    z| true|  2.1865115100963415|
+--------------------+-----+-----+--------------------+

#### Sort by abool, group, and n. Does it matter in what order you specify the columns when sorting?

In [62]:
df.sort(df.abool, df.group, df.n).show()

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n3|
+--------------------+-----+-----+--------------------+
| -0.7889890249515489|    x|false|  0.6225036814939958|
| 0.31735092273633597|    x|false| 0.10071160816160388|
|  0.6062886568962988|    x|false|   0.367585935481118|
|   0.753766378659703|    x|false|  0.5681637535977627|
|  0.8612113741693206|    x|false|  0.7416850309986095|
|  -1.261605945319069|    y|false|   1.591649561264422|
| 0.45181233874578974|    y|false| 0.20413438944294027|
|  0.5323378882945463|    y|false|  0.2833836273138969|
|  0.9137407048596775|    y|false|  0.8349220757174602|
|  -0.712390662050588|    z|false|   0.507500455376875|
|-0.04450307833805...|    z|false|0.001980523981562...|
| 0.12730328020698067|    z|false|0.016206125151457036|
|  1.3451017084510097|    z|false|  1.8092986060778251|
|  1.3501878997225267|    z|false|  1.8230073645571279|
|-0.02677164998644...|    x| true|7.167212429964917E-4|
| -1.0453771305385342|    y| true|  1.0928133450529796|
|-0.24332625188556253|    y| true| 0.05920766485667622|
|  0.5628467852810314|    y| true| 0.31679650370119145|
|  2.1503829673811126|    y| true|   4.624146906402799|
|  1.4786857374358966|    z| true|  2.1865115100963415|
+--------------------+-----+-----+--------------------+