# Spark Exercises

Within your codeup-data-science directory, create a new repo named spark-exercises. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub.

Save this work in your spark-exercises repo. Then add, commit, and push your changes.

Create a jupyter notebook or python script named spark101 for this exercise.

### Imports

In [36]:
import pandas as pd
import numpy as np
#create the spark session
import pyspark
from pyspark.sql.functions import concat, sum, avg, min, max, count, mean
from pyspark.sql.functions import when
from pyspark.sql.functions import month, year, quarter
from pyspark.sql.functions import col, expr
from pyspark.sql.functions import asc, desc
from pyspark.sql.functions import lit
spark = pyspark.sql.SparkSession.builder.getOrCreate()

### 1. Create a spark data frame that contains your favorite programming languages.
- The name of the column should be language
- View the schema of the dataframe
- Output the shape of the dataframe
- Show the first 5 records in the dataframe

#### The name of the column should be language

In [2]:
df = spark.createDataFrame(
    pd.DataFrame({'language': ['python', 'java', 'r', 'c']}))

In [3]:
df.show()

+--------+
|language|
+--------+
|  python|
|    java|
|       r|
|       c|
+--------+

#### View the schema of the dataframe

In [4]:
df.printSchema()

root
 |-- language: string (nullable = true)

#### Output the shape of the dataframe

- spark does not have a .shape function

In [5]:
df.count()

4

In [6]:
len(df.columns)

1

In [7]:
print(df.count(), "rows", len(df.columns), "columns")

4 rows 1 columns

#### Show the first 5 records in the dataframe

In [8]:
df.show(5)

+--------+
|language|
+--------+
|  python|
|    java|
|       r|
|       c|
+--------+

### 2. Load the mpg dataset as a spark dataframe.
- Create 1 column of output that contains a message like the one below (for each vehicle):
The 1999 audi a4 has a 4 cylinder engine.
- Transform the trans column so that it only contains either manual or auto.

#### Create 1 column of output that contains a message like the one below (for each vehicle): 
- The 1999 audi a4 has a 4 cylinder engine.

In [9]:
from pydataset import data

mpg = spark.createDataFrame(data("mpg"))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [10]:
mpg.select(concat(lit('The '), mpg.year, lit(' '), mpg.manufacturer, lit(' has a '), mpg.cyl, lit(' cylinder engine')).alias('message')).show(5)

+--------------------+
|             message|
+--------------------+
|The 1999 audi has...|
|The 1999 audi has...|
|The 2008 audi has...|
|The 2008 audi has...|
|The 1999 audi has...|
+--------------------+
only showing top 5 rows

#### Transform the trans column so that it only contains either manual or auto.

In [11]:
mpg.select(mpg.trans,
          when((mpg.trans.contains('auto')), 'auto')
          .otherwise('manual')
          .alias('trans')).show()

+----------+------+
|     trans| trans|
+----------+------+
|  auto(l5)|  auto|
|manual(m5)|manual|
|manual(m6)|manual|
|  auto(av)|  auto|
|  auto(l5)|  auto|
|manual(m5)|manual|
|  auto(av)|  auto|
|manual(m5)|manual|
|  auto(l5)|  auto|
|manual(m6)|manual|
|  auto(s6)|  auto|
|  auto(l5)|  auto|
|manual(m5)|manual|
|  auto(s6)|  auto|
|manual(m6)|manual|
|  auto(l5)|  auto|
|  auto(s6)|  auto|
|  auto(s6)|  auto|
|  auto(l4)|  auto|
|  auto(l4)|  auto|
+----------+------+
only showing top 20 rows

### 3. Load the tips dataset as a spark dataframe.

- What percentage of observations are smokers?
- Create a column that contains the tip percentage
- Calculate the average tip percentage for each combination of sex and smoker.

In [12]:
from pydataset import data
pandas_dataframe = data("tips")
df = spark.createDataFrame(pandas_dataframe)
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

#### What percentage of observations are smokers?

In [13]:
df.where(df.smoker == 'Yes').count() / df.count() * 100

38.114754098360656

#### Create a column that contains the tip percentage

In [14]:
col = (col('tip') / col('total_bill'))

In [15]:
df.select('*', col.alias('tip_pct')).show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|0.18623962040332148|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|0.14180374361883155|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

#### Calculate the average tip percentage for each combination of sex and smoker.

In [16]:
#female smoker
df.where(df.sex == 'Female').where(df.smoker == 'Yes').show()

+----------+----+------+------+----+------+----+
|total_bill| tip|   sex|smoker| day|  time|size|
+----------+----+------+------+----+------+----+
|      3.07| 1.0|Female|   Yes| Sat|Dinner|   1|
|     26.86|3.14|Female|   Yes| Sat|Dinner|   2|
|     25.28| 5.0|Female|   Yes| Sat|Dinner|   2|
|      5.75| 1.0|Female|   Yes| Fri|Dinner|   2|
|     16.32| 4.3|Female|   Yes| Fri|Dinner|   2|
|     11.35| 2.5|Female|   Yes| Fri|Dinner|   2|
|     15.38| 3.0|Female|   Yes| Fri|Dinner|   2|
|      44.3| 2.5|Female|   Yes| Sat|Dinner|   3|
|     22.42|3.48|Female|   Yes| Sat|Dinner|   2|
|     14.31| 4.0|Female|   Yes| Sat|Dinner|   2|
|     17.51| 3.0|Female|   Yes| Sun|Dinner|   2|
|     10.59|1.61|Female|   Yes| Sat|Dinner|   2|
|     10.63| 2.0|Female|   Yes| Sat|Dinner|   2|
|       9.6| 4.0|Female|   Yes| Sun|Dinner|   2|
|      20.9| 3.5|Female|   Yes| Sun|Dinner|   3|
|     18.15| 3.5|Female|   Yes| Sun|Dinner|   3|
|     19.81|4.19|Female|   Yes|Thur| Lunch|   2|
|     43.11| 5.0|Female|   Yes|Thur| Lunch|   4|
|      13.0| 2.0|Female|   Yes|Thur| Lunch|   2|
|     12.74|2.01|Female|   Yes|Thur| Lunch|   2|
+----------+----+------+------+----+------+----+
only showing top 20 rows

In [17]:
#female non-smoker
df.where(df.sex == 'Female').where(df.smoker == 'No').show()

+----------+----+------+------+----+------+----+
|total_bill| tip|   sex|smoker| day|  time|size|
+----------+----+------+------+----+------+----+
|     16.99|1.01|Female|    No| Sun|Dinner|   2|
|     24.59|3.61|Female|    No| Sun|Dinner|   4|
|     35.26| 5.0|Female|    No| Sun|Dinner|   4|
|     14.83|3.02|Female|    No| Sun|Dinner|   2|
|     10.33|1.67|Female|    No| Sun|Dinner|   3|
|     16.97| 3.5|Female|    No| Sun|Dinner|   3|
|     20.29|2.75|Female|    No| Sat|Dinner|   2|
|     15.77|2.23|Female|    No| Sat|Dinner|   2|
|     19.65| 3.0|Female|    No| Sat|Dinner|   2|
|     15.06| 3.0|Female|    No| Sat|Dinner|   2|
|     20.69|2.45|Female|    No| Sat|Dinner|   4|
|     16.93|3.07|Female|    No| Sat|Dinner|   3|
|     10.29| 2.6|Female|    No| Sun|Dinner|   2|
|     34.81| 5.2|Female|    No| Sun|Dinner|   4|
|     26.41| 1.5|Female|    No| Sat|Dinner|   2|
|     16.45|2.47|Female|    No| Sat|Dinner|   2|
|     17.07| 3.0|Female|    No| Sat|Dinner|   3|
|     14.73| 2.2|Female|    No| Sat|Dinner|   2|
|     10.07|1.83|Female|    No|Thur| Lunch|   1|
|     34.83|5.17|Female|    No|Thur| Lunch|   4|
+----------+----+------+------+----+------+----+
only showing top 20 rows

In [18]:
#male smoker
df.where(df.sex == 'Male').where(df.smoker == 'Yes').show()

+----------+----+----+------+----+------+----+
|total_bill| tip| sex|smoker| day|  time|size|
+----------+----+----+------+----+------+----+
|     38.01| 3.0|Male|   Yes| Sat|Dinner|   4|
|     11.24|1.76|Male|   Yes| Sat|Dinner|   2|
|     20.29|3.21|Male|   Yes| Sat|Dinner|   2|
|     13.81| 2.0|Male|   Yes| Sat|Dinner|   2|
|     11.02|1.98|Male|   Yes| Sat|Dinner|   2|
|     18.29|3.76|Male|   Yes| Sat|Dinner|   4|
|     15.01|2.09|Male|   Yes| Sat|Dinner|   2|
|     17.92|3.08|Male|   Yes| Sat|Dinner|   2|
|     19.44| 3.0|Male|   Yes|Thur| Lunch|   2|
|     32.68| 5.0|Male|   Yes|Thur| Lunch|   2|
|     28.97| 3.0|Male|   Yes| Fri|Dinner|   2|
|     40.17|4.73|Male|   Yes| Fri|Dinner|   4|
|     27.28| 4.0|Male|   Yes| Fri|Dinner|   2|
|     12.03| 1.5|Male|   Yes| Fri|Dinner|   2|
|     21.01| 3.0|Male|   Yes| Fri|Dinner|   2|
|     15.36|1.64|Male|   Yes| Sat|Dinner|   2|
|     20.49|4.06|Male|   Yes| Sat|Dinner|   2|
|     25.21|4.29|Male|   Yes| Sat|Dinner|   2|
|      16.0| 2.0|Male|   Yes|Thur| Lunch|   2|
|     50.81|10.0|Male|   Yes| Sat|Dinner|   3|
+----------+----+----+------+----+------+----+
only showing top 20 rows

In [19]:
#male non-smoker
df.where(df.sex == 'Male').where(df.smoker == 'No').show()

+----------+----+----+------+---+------+----+
|total_bill| tip| sex|smoker|day|  time|size|
+----------+----+----+------+---+------+----+
|     10.34|1.66|Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|Male|    No|Sun|Dinner|   3|
|     23.68|3.31|Male|    No|Sun|Dinner|   2|
|     25.29|4.71|Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|Male|    No|Sun|Dinner|   2|
|     26.88|3.12|Male|    No|Sun|Dinner|   4|
|     15.04|1.96|Male|    No|Sun|Dinner|   2|
|     14.78|3.23|Male|    No|Sun|Dinner|   2|
|     10.27|1.71|Male|    No|Sun|Dinner|   2|
|     15.42|1.57|Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|Male|    No|Sun|Dinner|   4|
|     21.58|3.92|Male|    No|Sun|Dinner|   2|
|     16.29|3.71|Male|    No|Sun|Dinner|   3|
|     20.65|3.35|Male|    No|Sat|Dinner|   3|
|     17.92|4.08|Male|    No|Sat|Dinner|   2|
|     39.42|7.58|Male|    No|Sat|Dinner|   4|
|     19.82|3.18|Male|    No|Sat|Dinner|   2|
|     17.81|2.34|Male|    No|Sat|Dinner|   4|
|     13.37| 2.0|Male|    No|Sat|Dinner|   2|
|     12.69| 2.0|Male|    No|Sat|Dinner|   2|
+----------+----+----+------+---+------+----+
only showing top 20 rows

In [27]:
#df.rollup('sex','smoker').agg(avg(df.tip_pct)).show()

### 4. Use the seattle weather dataset referenced in the lesson to answer the questions below.

- Convert the temperatures to farenheight.
- Which month has the most rain, on average?
- Which year was the windiest?
- What is the most frequent type of weather in January?
- What is the average high and low temperature on sunny days in July in 2013 and 2014?
- What percentage of days were rainy in q3 of 2015?
- For each year, find what percentage of days it rained (had non-zero precipitation).

In [28]:
from vega_datasets import data

df = data.seattle_weather().assign(date=lambda df: df.date.astype(str))
df = spark.createDataFrame(df)
df.show(6)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|
|2012-01-06|          2.5|     4.4|     2.2| 2.2|   rain|
+----------+-------------+--------+--------+----+-------+
only showing top 6 rows

#### Convert the temperatures to farenheight.

In [29]:
#* (9/5) + 32

#### Which month has the most rain, on average?

In [30]:
df.withColumn('month', month('date')).groupBy('month').agg(sum('precipitation').alias('total_rainfall')).sort(desc('total_rainfall')).show()

+-----+------------------+
|month|    total_rainfall|
+-----+------------------+
|   11|             642.5|
|   12| 622.7000000000002|
|    3|             606.2|
|   10|             503.4|
|    1|465.99999999999994|
|    2|             422.0|
|    4|             375.4|
|    9|235.49999999999997|
|    5|             207.5|
|    8|             163.7|
|    6|             132.9|
|    7|              48.2|
+-----+------------------+

#### Which year was the windiest?

In [31]:
df.withColumn('year', year('date')).groupBy('year').agg(sum('wind').alias('total_wind')).sort(desc('total_wind')).show()

+----+------------------+
|year|        total_wind|
+----+------------------+
|2012|            1244.7|
|2014|1236.5000000000007|
|2015|1153.3000000000002|
|2013|1100.8000000000006|
+----+------------------+

#### What is the most frequent type of weather in January?

In [40]:
df.withColumn("month", month("date")).filter(col("month") == 1).groupBy("weather").count().sort(col("count").desc()).show()

+-------+-----+
|weather|count|
+-------+-----+
|    fog|   38|
|   rain|   35|
|    sun|   33|
|drizzle|   10|
|   snow|    8|
+-------+-----+

#### What is the average high and low temperature on sunny days in July in 2013 and 2014?

In [38]:
(
    df.filter(month("date") == 7)
    .filter(year("date") > 2012)
    .filter(year("date") < 2015)
    .filter(col("weather") == lit("sun"))
    .agg(
        avg("temp_max").alias("average_high_temp"),
        avg("temp_min").alias("average_low_temp"),
    )
    .show()
)

+------------------+-----------------+
| average_high_temp| average_low_temp|
+------------------+-----------------+
|26.828846153846158|14.18269230769231|
+------------------+-----------------+

#### What percentage of days were rainy in q3 of 2015?

In [37]:
df.filter(year("date") == 2015).filter(quarter("date") == 3).select(when(col("precipitation") > 0, 1).otherwise(0).alias("rain")).agg(mean("rain")).show()

+-------------------+
|          avg(rain)|
+-------------------+
|0.18478260869565216|
+-------------------+

#### For each year, find what percentage of days it rained (had non-zero precipitation).