# Spark Exercises

Within your codeup-data-science directory, create a new repo named spark-exercises. This will be where you do your work for this module. Create a repository on GitHub with the same name, and link your local repository to GitHub.

Save this work in your spark-exercises repo. Then add, commit, and push your changes.

Create a jupyter notebook or python script named spark101 for this exercise.

### Imports

In [1]:
import pandas as pd
import numpy as np
#create the spark session
import pyspark
from pyspark.sql.functions import concat, sum, avg, min, max, count, mean
from pyspark.sql.functions import when
from pyspark.sql.functions import month, year, quarter

spark = pyspark.sql.SparkSession.builder.getOrCreate()

### 1. Create a spark data frame that contains your favorite programming languages.
- The name of the column should be language
- View the schema of the dataframe
- Output the shape of the dataframe
- Show the first 5 records in the dataframe

#### The name of the column should be language

In [2]:
df = spark.createDataFrame(
    pd.DataFrame({'language': ['python', 'java', 'r', 'c']}))

In [3]:
df.show()

+--------+
|language|
+--------+
|  python|
|    java|
|       r|
|       c|
+--------+

#### View the schema of the dataframe

In [4]:
df.printSchema()

root
 |-- language: string (nullable = true)

#### Output the shape of the dataframe

#### Show the first 5 records in the dataframe

In [5]:
df.show(5)

+--------+
|language|
+--------+
|  python|
|    java|
|       r|
|       c|
+--------+

### 2. Load the mpg dataset as a spark dataframe.
- Create 1 column of output that contains a message like the one below (for each vehicle):
The 1999 audi a4 has a 4 cylinder engine.
- Transform the trans column so that it only contains either manual or auto.

#### Create 1 column of output that contains a message like the one below (for each vehicle): 
- The 1999 audi a4 has a 4 cylinder engine.

In [6]:
from pydataset import data

mpg = spark.createDataFrame(data("mpg"))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [ ]:
mpg.select(mpg.)

#### Transform the trans column so that it only contains either manual or auto.

### 3. Load the tips dataset as a spark dataframe.

- What percentage of observations are smokers?
- Create a column that contains the tip percentage
- Calculate the average tip percentage for each combination of sex and smoker.

In [7]:
from pydataset import data
pandas_dataframe = data("tips")
df = spark.createDataFrame(pandas_dataframe)
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

#### What percentage of observations are smokers?

#### Create a column that contains the tip percentage

#### Calculate the average tip percentage for each combination of sex and smoker.

### 4. Use the seattle weather dataset referenced in the lesson to answer the questions below.

- Convert the temperatures to farenheight.
- Which month has the most rain, on average?
- Which year was the windiest?
- What is the most frequent type of weather in January?
- What is the average high and low temperature on sunny days in July in 2013 and 2014?
- What percentage of days were rainy in q3 of 2015?
- For each year, find what percentage of days it rained (had non-zero precipitation).

#### Convert the temperatures to farenheight.

#### Which month has the most rain, on average?

#### Which year was the windiest?

#### What is the most frequent type of weather in January?

#### What is the average high and low temperature on sunny days in July in 2013 and 2014?

#### What percentage of days were rainy in q3 of 2015?

#### For each year, find what percentage of days it rained (had non-zero precipitation).